@charset "UTF-8";

@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

/*---------------------------------basic---------------------------*/
#basic {
	position: absolute;
	height: 200%;
	width: 97%;
	margin: -0.5% 0% 0% -0%
}

/*---------------------------------top---------------------------*/
#top {
	font-family: 'Pretendard-Regular';
	height: 3.4%;
	width: 102.5%;
	background-color: #292929;
}

#logo {
	margin: 1% 0% 2% 2%;
	width: 12.5%;
	height: 2.4%;
	position: absolute;
	color: #EAEAEA;
	font-size: 18pt;
	font-weight: bolder;
	cursor: pointer;
}

#logo:hover {
	color: #FFFFB4;
}

#search {
	width: 44.5%;
	height: 2.3%;
	position: absolute;
	top: 0.7%;
	left: 26%;
}

#searchFont {
	border: 2px solid #FFCD36;
	font-size: 20pt;
	padding: 1.2% 20% 0% 15%;
	margin-left: 1%;
}

#searchZoom {
	font-size: 15pt;
	position: absolute;
	top: 29%;
	left: 62%;
	border: 0 solid black;
	background-color: white;
	color: #767F86;
}

#searchZoom.divButton {
	cursor: pointer;
}

#searchZoom.divButton:hover {
	cursor: pointer;
	font-weight: bold;
}

#box1 {
	width: 45%;
	height: 3.4%;
	position: absolute;
	top: 1.2%;
	left: 57.5%;
}

#login1 {
	width: 30%;
	height: 43%;
	margin-left: 17%;
	float: left;
	color: #ebedec;
	font-size: 10pt;
}
#notice {
	width: 15%;
	margin-left: 5.8%;
	float: left;
	color: #ebedec;
	font-size: 10pt;
}

#shop {
	width: 15%;
	height: 43%;
	margin-left: 5.8%;
	float: left;
	color: #ebedec;
	font-size: 10pt;
}
#notice:hover,#shop:hover{
	font-weight: bold;
	color: #FFBB00;
}

.top_menu {
	font-family: 'Pretendard-Regular';
	font-size: 13pt;
	cursor: pointer;
}
#logOutButton{
cursor: pointer;
background-color:#A6A6A6;
color:#FFFFFF;

}
#logOutButton:hover{
background-color:#FFBB00;
}

/*----------------------------mid------------------------------------*/
#mid {
	font-family: 'Pretendard-Regular';
	width: 99.3%;
	height: 95%;
}

#regForm {
	float: left;
	width: 70%;
	height: 99.8%;
	border: 1px solid #000000;
}

#topForm {
	width: 100%;
	height: 5%;
}

#leftTitle {
	float: left;
	width: 40%;
	height: 80%;
}

#subTitle {
	width: 50%;
	height: 30%;
}

.txt {
	font-size: 15pt;
}

#storeName {
	margin: 7% 0 0 20%;
	color: #8C8C8C;
	font-weight: bold;
}

#arrow1, #category {
	margin: 7% 0 0 2%;
	color: #BDBDBD;
}

#rentalGoods {
	margin: 15% 0 4% 20%;
	width: 99.8;
	font-size: 20pt;
	color: #292929;
	font-weight: bold;
	text-decoration-line: solid;
	text-decoration-color: #292929;
	text-decoration: underline;
	text-underline-position: under;
}
/******오른쪽 검색*****/
#rightTitle {
	float: left;
	margin-left: 10%;
	width: 50%;
	height: 100%;
}

#rightTop {
	float: left;
	width: 100%;
	height: 50%;
}

/*---------------등록,필터-------------------- */
#job {
	float: left;
	margin: 8% 0 2% 22%;
	width: 15%;
	height: 80%;
	background:
		url('https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png')
		calc(100% - 5px) center no-repeat;
	background-size: 20px;
	border-radius: 2px;
	outline: 0 none;
	color: #000000;
}

#job option {
	padding: 3px 0;
}

#searchText {
	margin: 8% 2% 0 2%;
	float: left;
	width: 30%;
	height: 70%;
}

#searchClick {
	margin-top: 8%;
	float: left;
	width: 10%;
	height: 80%;
}

#middleForm {
	float: left;
	width: 100%;
	height: 67%;
}

#bottomForm {
	float: left;
	width: 100%;
	height: 10%;
	margin-top: 10%;
	background-color: green;
}

#sideBar {
	float: left;
	width: 15%;
	height: 99.8%;
	padding: 2% 1%;
}

#sideContents {
	width: 100%;
	height: 100%;
}

#sideTitle {
	text-decoration-line: solid;
	text-decoration-color: #8C8C8C;
	text-decoration: overline underline;
	text-underline-position: under;
	text-align: center;
	width: 100%;
	height: 3.3%;
	font-size: 50pt;
}

#sideMiddleBar1 {
	width: 90%;
	height: 20%;
	text-align: center;
}

#sideMiddleBar2 {
	width: 90%;
	height: 20%;
	text-align: center;
}

#listDiv {
	width: 99.8%;
	height: 95%;
}

#goodsList {
	margin: 1% 0% 0% 0%;
	width: 100%;
	height: 90%;
}

#pageDiv {
	width: 50%;
	height: 10%;
	margin-left: 30%;
}

.menuTop {
	margin: 5% 0% 0% 2%;
	width: 55.5%;
	height:30%;
	text-align: center;
	color: #FFFFFF;
	background-color: #8C8C8C;
	cursor: pointer;
	padding: 8% 20%;
}
.menuTop:hover{
	background-color: #A6A6A6;
}

#bar{
	margin: 15% 0%;
	padding: 0% 4%;
}
.cpMenu {
	margin: 0 0 0 2%;
	width: 95%;
	height: 50%;
	text-align: center;
	font-size: 15pt;
	cursor: pointer;
	padding: 5% 0%;
}

.fiMenu {
	margin: 0 0 0 2%;
	width: 95%;
	height: 50%;
	text-align: center;
	font-size: 15pt;
		cursor: pointer;
	padding: 5% 0%;
}

.cpMenu:hover, .fiMenu:hover {
	background-color: #FFCD36;
}
.text1{
	font-size: 18pt;

}
.triangle {
	float: right;
	width: 0px;
	height: 0px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 15px solid;
	cursor: pointer;
	margin: 7% 3%;
}

.textLocation {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#postContents {
	display: none;
}

.textLocation._value {
	background-color: #FFCD36;
}
/*---------------리스트-------------------*/
.bigDiv1, .bigDiv7, .bigDiv2, .bigDiv8, .bigDiv4, .bigDiv5, .bigDiv0,
	.bigDiv3, .bigDiv6 {
	margin: 3% 0% 0% 4%;
	width: 27%;
	height: 24%;
	float: left;
	
}

#goImage {
	width: 99.8%;
	height: 99.8%;
	border: 5px solid #BDBDBD;
	margin-bottom: 0.4%;
	cursor:pointer;
}

#goImage:hover {
	border: 5px solid #FFBB00;
}

.gdListsrCode, .gdListgoCode, .gdListcfCode, .gdListcaCode {
	display: none;
}

.gdListimage {
	margin-left: 10%;
	width: 80%;
	height: 30%;
	margin-bottom: 0.4%;
}

.gdListrentPrice {
	margin-left: 15%;
	width: 30%;
	float: left;
	margin-bottom: 2%;
	font-size: 10pt;
}

.gdListsrName, .gdListgoName {
	margin-left: 15%;
	margin-bottom: 0.4%;
}

.gdListstCode {
	float: left;
	width: 20%;
	height: 20%;
	font-size: 10pt;
	margin-bottom: 2%;
	font-size: 10pt;
}

.gdListdiscount {
	float: left;
	width: 25%;
	margin-bottom: 2%;
	font-size: 10pt;
}
#mainBlue{
	background-color:blue;
	color:#FFFFFF;
	padding: 3% 3% 3% 3%;
	border-radius: 2px;
	text-align: center;
}
#mainRed{
	background-color:red;
	color:#FFFFFF;
	padding: 3% 3% 3% 3%;
	border-radius: 2px;
	text-align: center;
}
button {
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border: none;
	border-radius: 4px;
	width: 35%;
	padding: 5% 0%;
	background-color:#D5D5D5;
}

#btnCart {
	float: left;
	margin: 0 2% 0 12%;
	height: 30%;
}

#btnBuy {
	float: left;
	margin: 0% 0% 0% 5%;
	height: 30%;
}

#btnCart:hover, #btnBuy:hover {
	background-color: #292929;
	color: #FFCD36;
}
/*------------------button----------------*/
li {
	list-style: none;
}

ul {
	list-style: none;
	padding-left: 0px;
	text-align: center;
}

#goodsPage {
	width: 90%;
	margin-left:3%;
	text-align: center;
}
/*이전 버튼*/
.pageInfo_btn_prev {
	margin-top: 7%;
	float: left;
	padding: 1% 1% 1% 1%;
	background-color: #FFCD36;
}

.pageInfo_btn_prev:hover {
	font-weight: bold;
	background-color: #CCA63D;
	color: #050099;
}

#pageInfo_btn_prev_hold {
	margin-top: 7%;
	float: left;
	padding: 1% 1% 1% 1%;
	background-color: #FFCD36;
}
/*선택한 페이지 버튼*/
.pageInfo_btn_selected {
	margin-top: 7%;
	float: left;
	padding: 1% 1% 1% 1%;
	background-color: #BDBDBD;
}

.pageInfo_btn_selected:hover {
	color: #050099;
}
/*페이지 버튼*/
.pageInfo_btn {
	margin-top: 7%;
	float: left;
	padding: 1% 1% 1% 1%;
}

.pageInfo_btn:hover {
	background-color: #D5D5D5;
	color: #050099;
}
/*다음 버튼*/
.pageInfo_btn_next {
	margin-top: 7%;
	float: left;
	padding: 1% 1% 1% 1%;
	background-color: #FFCD36;
}

.pageInfo_btn_next:hover {
	font-weight: bold;
	background-color: #CCA63D;
	color: #050099;
}

/*-----------------------------bottom---------------------------------*/
#bottom {
	float: left;
	font-family: 'Pretendard-Regular';
	width: 100.5%;
	height: 1.8%;
	background-color: #595959;
	color: #FFFFFF;
	padding: 0.05% 1%;
}

#bottom_store {
	float: left;
	font-size: 18pt;
	width: 170px;
	height: 80%;
	margin: 0% 1% 0% 0%;
}

#bottom_store2 {
	float: left;
	font-size: 10pt;
	height: 75%;
	width: 680px;
	padding: 0.1%;
	margin: 0.2% 1% 0% 0%;
}

#bottom_store3 {
	float: left;
	font-size: 10pt;
	height: 72%;
	padding: 0.15%;
	width: 200px;
	margin: 0.2% 0% 0% 0%;
}

/************상품 상세정보 **********/
.goInfo.image {
	float: left;
	margin: 0% 0% 3% 7%;
	width: 32%;
	height: 30%;
	
}

#thumbNail {
	width: 95%;
	height: 99%;
	border: 2px solid;
}

#infoDiv {
	width: 50%;
}

.goInfo {
	width: 100%;
	height: 100%;
}

.goInfo.srName {
	
	margin: 5% 1% 0% 42%;
	width: 50%;
	height: auto;
	font-size: 20pt;
	font-weight: bolder;
	text-align: left;
}

.goInfo.goName {
	
	margin: 1% 2% 1% 42%;
	width: 50%;
	height: auto;
	font-size: 17pt;
}

.goInfo.contents {
	margin: 15% 0% 0 0;
	width: 100%;
    height: 99%;
	clear: both;
}

#contents {
	margin: 5% 0 0 30%;
	width: 40%;
	height:auto;
}

.goInfo.stCode {
	float: left;
	margin: 0% 1% 0% 4%;
	width: 8%;
	height: 2%;
	font-size: 15pt;
	border-radius: 4px;
	text-align: center;
}

.goInfo.discount {
	float: left;
	margin: 0% 2% 1% 0%;
	width: 20%;
	height: 2%;
	font-size: 15pt;
	color: #6799FF;
}

.goInfo.month {
	width: 48%;
	height: auto;
	margin: 1% 2% 1% 42%;
}

.goInfo.day {
	width: 48%;
	height: auto;
	margin: 1% 2% 1% 42%;
}

#cal1 {
	float: left;
	margin: 1% 0 0 0%;
	width: 90%;
	font-size: 12pt;
	text-align: left;
}

#month {
	margin: 1% 0 0 7.4%;
	width: 57.3%;
	font-size: 12pt;
}

#cal2 {
	margin: 1% 0 0 0%;
	float: left;
	width: 90%;
	font-size: 12pt;
	text-align: left;
}

#day {
	margin: 1% 0 0 7.4%;
	width: 57.3%;
	font-size: 12pt;
}

.goInfo.rentPrice {
	width: 45%;
	height: auto;
	margin: 1% 2% 1% 42%;
}

#rentPrice {
	margin: 1% 0 0 0%;
	float: left;
	width: 97%;
	font-size: 12pt;
	text-align: left;
}

#price {
	margin: 1% 0 0 4%;
	width: 57%;
	font-size: 12pt;
}

#btn1 {
	float:left;
	margin: 2% 0 0 0%;
	width: 30%;
	height: 4%;
	font-size: 15pt;
	background-color: #FFCD36;
	font-weight: bolder;
	border: 1px solid #FFCD36;
	color: #FFFFFF;
	cursor: pointer;
}

#btn2 {
	float:left;
	margin: 2% 0 0 3%;
	width: 20%;
	height: 4%;
	font-size: 15pt;
	font-weight: bolder;
	background-color: #EAEAEA;
	color: #A6A6A6;
	cursor: pointer;
}

#btn1:hover {
	background-color: #747474;
}

#btn2:hover {
	border: 1px solid #F2CB61;
	color: #747474;
}

#goInfo {
	margin: 5% 0 0 20%;
	width: 20%;
	font-size: 20pt;
	text-align: center;
	background-color: green;
}

#sp {
	margin-left: 2%; 
	width : 100%;
	height: 32%;
	font-size: 20pt;
	text-align: center;
	border-bottom: 3px solid;
	padding: 2.4% 2.4% 2.4% 2.4%;
	width: 100%;
}

.warn {
	float: left;
	width: 20%;
	height:2.8%;
	font-size: 15pt;
	text-align: center;
	border: 2px solid #000000;
	margin-top: 15%;
}

.warn:hover {
	background-color: #FFCD36;
}

#orderDiv {
	width: 100%;
}

#goCart {
	margin: 2% 0 0 0%;
	float: left;
	width: 90%;
	border-top: 2px solid #8C8C8C;
}

.goOrder {
	float: left;
	margin: 2% 0 2% 0%;
	width: 58%;
	height: 15%;
	font-size:10pt;
	
}

.goName {
	width: 50%;
}

.goOrder2 {
	float: left;
	margin: 4% 0 0 5%;
	width: 6%;
	height: 15%;
	border: 1px solid #000000;
	text-align: center;
}

.modQty {
	margin-top: 20%;
	width: 60%;
	height: 99%;
}

.goOrder3 {
	float: left;
	margin: 1.5% 0 0 0%;
	width: 10%;
	height: 30%;
}

.inc {
	margin: 2% 0 0 0.5%;
	cursor: pointer;
	width: 50%;
	height: 20%;
	border: 1px solid #A6A6A6;
	text-align: center;
}

.dec {
	margin: 0% 0 0 0.5%;
	float: left;
	cursor: pointer;
	width: 50%;
	height: 20%;
	border: 1px solid #A6A6A6;
	text-align: center;
}

.goOrder4 {
	float: left;
	margin: 2% 0 0 1%;
	width: 10%;
	height: 15%;
}

.delOrder {
	cursor: pointer;
	margin: 20% 0 0 5%;
	width: 60%;
	height: 20%;
	border: 1px solid #A6A6A6;
	text-align: center;
}

#total {
	margin: 2% 0 2% 0%;
	float: left;
	width: 90%;
	border-bottom: 2px solid #D5D5D5;
}

#imageDiv {
	margin: 5% 0 0 0;
	border-top: 3px solid #8C8C8C;
	width: 100%;
	height: 60%; 
	overflow : auto;
	overflow-x: hidden;
	
}

#imageDiv::-webkit-scrollbar {
	width: 15px;
}

#imageDiv::-webkit-scrollbar-thumb {
	height: 30%;
	background-color: #F2CB61;
	border-radius: 8px;
	background-clip: padding-box;
	border: 2px solid;
}

#imageDiv::-webkit-scrollbar-track {
	background-color: #8C8C8C;
	border-radius: 10px;
	box-shadow: inset 0px 0px 5px white;
}

.goInfo.notice {
	border-top: 3px solid #8C8C8C;
	width: 69.3%;
	position:absolute;
	top:40.3%;
	left:17%;
	display:none;
}

#notImage {
	margin : 8% 0 0 20%;
	width: 55%;
	height:30%;
}

.goInfo.cfCode, .goInfo.srCode, .goInfo.caCode, .goInfo.goCode {
	display: none;
}

.pr {
	font-size: 13pt;
	color: #CCA63D;
}

.qty {
	font-size: 12pt;
	color: #CCA63D;
}

/*-------------장바구니 modal------------------*/
#openCart{
	width:32%;
	height:30%;
	position:absolute;
	top:20%;
	left:33%;
	background-color:#FFBB00;
}
#modalImage{
	float:left;
	width:25%;
	margin : 8% 0 0 8%;
}

.goModal.cfCode, .goModal.srCode, .goModal.caCode, .goModal.goCode {
	display: none;
}

.goModal.srName {
	float:left;
	margin : 8% 0 0 2%;
	width: 52%;
	font-size: 13pt;
	font-weight: bolder;
	text-align: left;
}

.goModal.goName {
	float:left;
	margin : 1% 0 0 2%;
	width: 60%;
	font-size: 13pt;
}
.btnDiv{
	float: left;
	width:80%;
}
.modalBtn{
	margin: 0% 0% 0% 45%;
	width: 15%;
	height: 12%;
}

.modalClose{
	margin: 0% 0% 0% 5%;
	width: 15%;
	height: 12%;
}

.modalBtn:hover, .modalClose:hover{
	background-color: #DB9700;
	font-weight:bold;
	color:#5D5D5D;
}
.goModal.month {
	float:left;
	width: 60%;
	height:auto;
}

.goModal.day {
	float:left;
	width: 60%;
	height:auto;
}

.goModal.rentPrice{
	float:left;
	width:100%;
	height: auto;
}


.goModal.stCode {
	margin: 2% 1% 1% 3%;
	float: left;
	width: 17%;
	font-size: 12pt;
	
}

.goModal.discount {
	margin: 2% 0% 0% 0%;
	float: left;
	width: 20%;
	font-size: 13pt;
	color: #6799FF;
}
#cal3 {
	float: left;
	margin: 1% 0 0 4%;
	width: 100%;
	font-size: 11pt;
	text-align: left;
}

#modalMonth {
	margin: 1% 0 0 8.3%;
	width: 70%;
	font-size: 10pt;
}

#cal4 {
	margin: 1% 0 0 4%;
	float: left;
	width: 100%;
	font-size: 11pt;
	
	text-align: left;
}

#modalDay {
	margin: 1% 0 0 8.3%;
	width: 70%;
	font-size: 10pt;
}


#cal5 {
	margin: 1% 0 0 35.7%;
	float: left;
	width: 100%;
	font-size: 11pt;
	text-align: left;
}

#modalPrice {
	margin: 0% 0 0 1%;
	width:	42%;
	font-size: 10pt;
}
#blue{
	background-color:blue;
	color:#FFFFFF;
	padding : 3% 3% 3% 3%;
	border-radius: 4px;
	text-align: center;
}
#grey{
	background-color:#D5D5D5;
	padding : 3% 3% 3% 3%;
	border-radius: 4px;
	text-align: center;
}
#red{
	background-color:red;
	color:#FFFFFF;
	padding : 3% 3% 3% 3%;
	border-radius: 4px;
	text-align: center;
}

#total1 {
	margin: 3% 0 2% 5%;
	float: left;
	width: 90%;
	border-bottom: 2px solid #D5D5D5;
}

#goCart1 {
	margin: 2% 0 0 5%;
	float: left;
	width: 90%;
	border-top: 2px solid #8C8C8C;


}

.goOrder1 {
	float: left;
	margin: 3% 0 2% 0%;
	width: 57%;
	height: 15%;
	font-size:10pt;
}
.goOrder13 {
	float: left;
	margin: 1% 0 0 0%;
	width: 8%;
	height: 10%;
}

.inc1 {
	margin: 4% 0 0 0.5%;
	cursor: pointer;
	width:50%;
	height: 5%;
	border: 1px solid #A6A6A6;
	text-align: center;
}

.dec1 {
	margin: 0% 0 0 0.5%;
	float: left;
	cursor: pointer;
	width:50%;
	height: 5%;
	border: 1px solid #A6A6A6;
	text-align: center;
}
.delOrder1 {
	cursor: pointer;
	margin: 23% 0 0 5%;
	width: 40%;
	height: 20%;
	border: 1px solid #A6A6A6;
	text-align: center;
}
/********************************************************회원 아닐때 띄우는 modal****************************************************************/
#notMember{
	width:20%;
	height:8%;
	position:absolute;
	top:20%;
	left:40%;
	background-color:#FFFFFF;
	border: 1px solid;
}
#ring{
	background-color:#D5D5D5;
}
#question{
	margin-top: 10%;
	text-align:center;
}
#goLogIn{
	float:left;
	margin: 10% 10% 0 27%;
	width:15%;
	background-color:#F2CB61;
	padding: 2% 2% 2% 2%;
	cursor:pointer;
	font-size:10pt;
	text-align:center;
}
#noLogIn{
	float:left;
	margin-top: 10%;
	width:15%;
	cursor:pointer;
	background-color:#F2CB61;
	padding: 2% 2% 2% 2%;
	font-size:10pt;
	text-align:center;
}
#goLogIn:hover, #noLogIn:hover{
	background-color:#A6A6A6;
	color:#F2CB61;
}

#rmcHome {
	height: 15%;
	width: 100%;
	border: 1px solid #999966;
	font-size: 15pt;
	font-weight: bold;
	background-color: #292929;
	color: white;
	border-radius: 10px;
	margin: 15% 1%;
	cursor: pointer;
}

#rmcMap {
	height: 15%;
	width: 100%;
	border: 1px solid #999966;
	font-size: 12pt;
	background-color: white;
	border-radius: 10px;
	margin: 9% 1% 1% 1%;
	cursor: pointer;
	font-weight: bold;
}

#rmcRental {
	height: 15%;
	width: 100%;
	border: 1px solid #999966;
	font-size: 12pt;
	background-color: white;
	border-radius: 10px;
	margin: 1%;
	cursor: pointer;
	font-weight: bold;
}

#rmcMyPage {
	height: 15%;
	width: 100%;
	border: 1px solid #999966;
	font-size: 12pt;
	background-color: white;
	border-radius: 10px;
	margin: 1%;
	cursor: pointer;
	font-weight: bold;
}

#rmcRtStore {
	height: 15%;
	width: 100%;
	border: 1px solid #999966;
	font-size: 12pt;
	background-color: white;
	border-radius: 10px;
	margin: 1%;
	cursor: pointer;
	font-weight: bold;
}
/*리모컨 색깔*/
#rmcHome:hover {
	background-color: #FFBB00;
}

#rmcMap:hover, #rmcRental:hover, #rmcMyPage:hover, #rmcRtStore:hover {
	background-color: #747474;
	color:white;
}