@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/*---------------------------top-----------------------------------*/

#basic {
	position:absolute; 
	height:150%;
	width:97.8%;
	}
	
#top {
	font-family: 'Pretendard-Regular';
	height:4.8%;
	width:99.6%;
	background-color:#292929;
	}
	

#logo {
	margin: 1% 0% 2% 2%;
	width:12.5%;
	height:3%;
	position:absolute;
	}
#search {
	width:44.5%;
	height:2.3%;
	position:absolute; top:0.7%;
	left:26%;
	}
	
#searchFont{
	border:2px solid #FFCD36;
	font-size:20pt;
	padding: 1.2% 20% 0% 15%;
	margin-left:1%;
	}

#searchZoom{
	padding: 0% 1% 1% 1%;
	font-size:15pt;
	position:absolute; top:36%; left:62%; 
	border:0 solid black;
	background-color:white;
	color:#767F86;
	
	}
#searchZoom.divButton{
	cursor :pointer;
}	
#searchZoom.divButton:hover{
	cursor :pointer;
	font-weight: bold;
}	
#box1 {
	width:35.5%;
	height:3.4%;
	position:absolute; top:1.7%;
	left:57.5%;
	}
		
#login1 {
	width:28.3%;
	height:43%;
	margin-left:22%;
	float: left;
	color:#ebedec;
	font-size:10pt;
	}

#notice {
	width:15%;
	height:43%;
	margin-left:5%;
	float: left;
	color:#ebedec;
	font-size:10pt;
	}
#shop {
	width:15%;
	height:43%;
	margin-left:5.8%;
	float: left;
	color:#ebedec;	
	font-size:10pt;
	}

.top_menu {
	font-family:TmonMonsori;
	font-size: 12pt;
	cursor : pointer;
	}
	
#list {
	width:4.4%;
	height:4.8%;
	position:absolute;
	left:93.5%;
	background-color:#a2a9af;
	cursor : pointer;
	}

/*-------------------------------mid---------------------------------*/

#line1 {
	border: 3px solid #292929;
	margin: 0.3% 0% 0% 0%;
	background-color: #1C1F88;
}

#login2 {
	width: 15%;
	height: 4.5%;
	margin: 3% 0% 0% 10.7%;
}

.login2 {
	font-family: TmonMonsori;
	font-size: 20pt;
	color: #292929;
	font-weight: bold;
	position: absolute;
	top: 24%
}

#home {
	width: 3%;
	height: 4%;
	position: absolute;
	right: 17%;
	top: 25%;
}

.home {
	font-family: TmonMonsori;
	font-size: 140%;
	color: #CBCBCB;
	cursor: pointer;
}

#arrow {
	width: 3%;
	height: 4%;
	position: absolute;
	right: 15%;
	top: 25%;
}

#login2-1 {
	width: 6%;
	height: 4%;
	position: absolute;
	right: 10.5%;
	top: 25%;
}

.login2-1 {
	font-family: TmonMonsori;
	font-size: 140%;
	color: #000000;
}

#line2 {
	border: 1px solid #292929;
	margin: 5% 10.5% 1% 10.5%;
	background-color: #1C1F88;
}

#mid2 {
	font-family: 'Pretendard-Regular';
	position: absolute;
	top: 15%;
	left: 50%;
	width: 50%;
	height: 10%;
}

#mid1 {
	font-family: 'Pretendard-Regular';
	height: 75%;
}

#memberlogin_btn {
	font-family: 'Pretendard-Regular';
	box-shadow: 3px 3px 10px #566270;
	width: 50%;
	height: 20%;
	padding: 2%;
	text-align: left;
	margin: 1% 0% 1% 25%;
	background-color: #292929;
	position: ablsolute;
	top: 20%;
	left: 10%;
	color: #ebedec;
	cursor: pointer;
}

.triangle {
	float: right;
	width: 0px;
	height: 0px;
	border-top: 10px solid transparent;
	border-left: 10px solid #ebedec;
	border-bottom: 10px solid transparent;
	border-right: 10px solid transparent;
}

#login_type {
	position: absolute;
	top: 33%;
	left: 8%;
	width: 80%;
	height: 30%;
}

#storelogin_btn {
	font-family: 'Pretendard-Regular';
	box-shadow: 3px 3px 10px #566270;
	width: 50%;
	height: 20%;
	padding: 2%;
	text-align: left;
	margin: 1% 0% 1% 25%;
	background-color: #292929;
	position: ablsolute;
	top: 20%;
	left: 10%;
	color: #ebedec;
	cursor: pointer;
}

/*------------------------------bottom----------------------------*/

#bottom {
   font-size:7pt;
   font-family: 'Pretendard-Regular';
   width:99.6%;
   height:5%;
   background-color:#595959;
   color:#FFFFFF;
   position:absolute; left:0.2%;
}