@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/*---------------------------------basic---------------------------*/

#basic {
	position:absolute; 
	height:100%;
	width:97.8%;
	}
	
/*---------------------------------top---------------------------*/
#top {
	font-family: 'Pretendard-Regular';
	height:5.6%;
	width:99.6%;
	background-color:#292929;
	}

#logo {
	margin: 1% 0% 2% 2%;
	width:12.5%;
	height:3%;
	position:absolute;
	}
#search {
	width:44.5%;
	height:2.3%;
	position:absolute; top:0.7%;
	left:26%;
	}
	
#searchFont{
	border:2px solid #FFCD36;
	font-size:20pt;
	padding: 1.2% 20% 0% 15%;
	margin-left:1%;
	}

#searchZoom{
	padding: 0% 1% 1% 1%;
	font-size:15pt;
	position:absolute; top:36%; left:62%; 
	border:0 solid black;
	background-color:white;
	color:#767F86;
	
	}
#searchZoom.divButton{
	cursor :pointer;
}	
#searchZoom.divButton:hover{
	cursor :pointer;
	font-weight: bold;
}	
#box1 {
	width:35.5%;
	height:3.4%;
	position:absolute; top:1.7%;
	left:57.5%;
	}
		
#login1 {
	width:28.3%;
	height:43%;
	margin-left:22%;
	float: left;
	color:#ebedec;
	font-size:10pt;
	}

#notice {
	width:15%;
	height:43%;
	margin-left:5%;
	float: left;
	color:#ebedec;
	font-size:10pt;
	}
#shop {
	width:15%;
	height:43%;
	margin-left:5.8%;
	float: left;
	color:#ebedec;	
	font-size:10pt;
	}

.top_menu {
	font-family:TmonMonsori;
	font-size: 12pt;
	cursor : pointer;
	}
	
#list {
	width:4.4%;
	height:4.8%;
	position:absolute;
	left:93.5%;
	background-color:#a2a9af;
	cursor : pointer;
	}
	
/*----------------------------mid------------------------------------*/

#mid{
	font-family:TmonMonsori;
	border:3px solid #292929;
	width:99.3%;
	height:91.8%;
}

#leftList{
	font-family:TmonMonsori;
	border:3px solid #FF0000;
	width:30%;
	height:99.7%;
	float:left;
	
}

#insert{
	width:20%;
	height:99.7%;
	background-color:#ffffff;
	}

/*------------------filterling----------------*/











/*---------------------------------------------*/

#listFilter{
	border:3px solid #292929;
	width:99.6%;
	height:4%;
}

#listPoints{
	border:3px solid #292929;
	font-family:TmonMonsori;
	width:99.6%;
	height:8%;
}

#mySideStore{
	font-family:TmonMonsori;
	width:18.8%;
	height:63%;
	text-align:center;
	font-size:15pt;
	padding:4.7% 0% 0% 0%;
	float:right;
}

#fishingPoint{
	font-family:TmonMonsori;
	width:18.8%;
	height:63%;
	text-align:center;
	font-size:15pt;
	padding:4.7% 0% 0% 0%;
	float:right;
}

#camping{
	font-family:TmonMonsori;
	width:18.8%;
	height:63%;
	text-align:center;
	font-size:15pt;
	padding:4.7% 0% 0% 0%;
	float:right;
}

#glamping{
	font-family:TmonMonsori;
	width:18.8%;
	height:60%;
	text-align:center;
	font-size:15pt;
	padding:4.7% 0% 0% 0%;
	float:right;
}

#caravan{
	font-family:TmonMonsori;
	width:18.8%;
	height:60%;
	text-align:right;
	font-size:15pt;
	padding:4.7% 0% 0% 0%;
}

#campingList{
	border:3px solid #4374D9;
	width:99.6%;
	height:86%;
}






#map{
	font-family:TmonMonsori;
	border:3px solid #292929;
	width:69.3%;
	height:91.5%;
	position:absolute; left:30%;
}

/*-----------------------------bottom---------------------------------*/

#bottom {
    font-size:10pt;
	font-family: 'Pretendard-Regular';
	width:99.6%;
	height:5%;
	background-color:#595959;
	color:#FFFFFF;
	}
	
	
	
