@charset "UTF-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

#mid {
	font-family: 'Pretendard-Regular';
	width:98.8%;
	height:96.9%;
	}
	
#line1 {
	border:5px solid #ffffff;
	margin: 0.3% 0% 0% 0%;
	background-color:#ffffff;
	}
	
#box2 {
	width:80%;
	height:50%;
	margin:0.5% 0% 0% 15%;
	position:absolute;
	}
	
#campingMap {
	border:2px solid #3d3d3b;
	width: 13%;
	height:40%;
	margin:3% 0% 1% 0%;
	position:absolute;
	text-align:center;
	background-color:#FFCD36;
	box-shadow: 3px 3px 10px #566270;
	}

#campingMap1 {
	position:absolute; top:50%; bottom:50%; transform:translate(-50%,-50%);
	width:80%;
	height:80%;
	}
	
#fishingMap {
	border:2px solid #3d3d3b;
	width: 13%;
	height:40%;
	margin:3% 0% 1% 17%;
	position:absolute;
	text-align:center;
	background-color:#FFCD36;
	box-shadow: 3px 3px 10px #566270;
	}
#fishingMap1{
	position:absolute; top:50%; bottom:50%; transform:translate(-50%,-50%);
	width:80%;
	height:80%;
	}
	
#rentalEquipment {
	border:2px solid #3d3d3b;
	width: 13%;
	height:40%;
	margin:3% 0% 1% 34%;
	position:absolute;
	text-align:center;
	background-color:#FFCD36;
	box-shadow: 3px 3px 10px #566270;
	}
	
#rentalEquipment1{
	position:absolute; top:50%; bottom:50%; transform:translate(-50%,-50%);
	width:80%;
	height:80%;
	}
	
#rentalStore {
	border:2px solid #3d3d3b;
	width: 13%;
	height:40%;
	margin:3% 0% 1% 51%;
	position:absolute;
	text-align:center;
	background-color:#FFCD36;
	box-shadow: 3px 3px 10px #566270;
	}

#rentalStore1{
	position:absolute; top:50%; bottom:50%; transform:translate(-50%,-50%);
	width:80%;
	height:80%;
	}
	
#buy {
	border:2px solid #3d3d3b;
	width: 13%;
	height:40%;
	margin:3% 0% 0% 68%;
	position:absolute;
	text-align:center;
	background-color:#FFCD36;
	box-shadow: 3px 3px 10px #566270;
	}

#buy1{
	position:absolute; top:50%; bottom:50%; transform:translate(-50%,-50%);
	width:80%;
	height:80%;
	}
	
#line2 {
	border:5px solid #ffffff;
	margin: 30% 0% 0% 0%;
	background-color:#ffffff;
	}
	
#hotDill {
	border:1px solid #1C1F88;
	width:65%;
	height:5.3%;
	position:absolute; top:42%;
	margin:2% 0% 0% 15%;
	text-align:center;
	background-color:#292929;
	font-size:30pt;
	color:#ffffff;
	}
	
#hotDill_list{
	border:3px solid #3d3d3b;
	width:61%;
	height:45%;
	position:absolute; top:54.9%; left:15%;
	padding : 1% 0% 0% 4%;
	}
	
.ddiv{
	width:33%;
	height:80%;
	float : left;
	cursor : pointer;
}

.storeListsrCode{
	display : none;
}

.storeListcaCode{
	display : none;
}

.storeListsrName{
	width:40%;
	height:3%;
	font-weight : bold;
	font-size : 16pt;
	float : left;
}

.storeListgoCode{
	display : none;
}

.storeListgoName{
	width:90%;
	height:3%;
	font-size : 16pt;
}

.storeListdiscount{
	width:50%;
	height:3%;
	margin-top : 2%;
	font-size : 15pt;
	float : left;
}

.storeListimage{
	width:80%;
	height:3%;
}

.storeListcfCode{
	display : none;
}

#Image{
	width:99%;
	height:30%;
}

#aa{
	float : right;
	font-size : 15pt;
	font-weight : bold;
	color : red;
}

