@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* ---------------------------------Top------------------------------------*/

#basic {
	position:absolute; 
	height:110%;
	width:97.8%;
	}
	
#top {
	font-family: 'Pretendard-Regular';
	height:4.8%;
	width:99.6%;
	background-color:#292929;
	}
	

#logo {
	margin: 1% 0% 2% 2%;
	width:12.5%;
	height:3%;
	position:absolute;
	color : #EAEAEA;
	font-size:18pt;
	font-weight : bolder;
	cursor:pointer;
   }
  #logo:hover{
  color:#FFFFB4;
  }
#search {
	width:44.5%;
	height:2.3%;
	position:absolute; top:0.7%;
	left:26%;
	}
	
#searchFont{
	border:2px solid #FFCD36;
	font-size:20pt;
	padding: 1.2% 20% 0% 15%;
	margin-left:1%;
	}

#searchZoom{
	padding: 0% 1% 1% 1%;
	font-size:15pt;
	position:absolute; top:36%; left:62%; 
	border:0 solid black;
	background-color:white;
	color:#767F86;
	
	}
#searchZoom.divButton{
	cursor :pointer;
}	
#searchZoom.divButton:hover{
	cursor :pointer;
	font-weight: bold;
}	
#box1 {
	width:35.5%;
	height:3.4%;
	position:absolute; top:1.7%;
	left:57.5%;
	}
		
#login1 {
	width:28.3%;
	height:43%;
	margin-left:22%;
	float: left;
	color:#ebedec;
	font-size:10pt;
	}

#notice {
	width:15%;
	height:43%;
	margin-left:5%;
	float: left;
	color:#ebedec;
	font-size:10pt;
	}
#shop {
	width:15%;
	height:43%;
	margin-left:5.8%;
	float: left;
	color:#ebedec;	
	font-size:10pt;
	}

.top_menu {
	margin-top : 3%;
	font-family: 'Pretendard-Regular';
	font-size: 15pt;
	cursor : pointer;
	}
	
#list {
	width:4.4%;
	height:4.8%;
	position:absolute;
	left:93.5%;
	background-color:#a2a9af;
	cursor : pointer;
	}
	
/*------------------------------------mid-----------------------------------*/

#mid{
	font-family: 'Pretendard-Regular';
	width : 74%;
	height: 92%;
	margin : 0% 0% 0% 13%;
}

#leftLine{
	width : 20.4%;
	height : 99.5%;
	float : left;
}

#titleDiv{
	width : 99.9%;
	height : 10%;
	background-color : #292929;
}

#title{
	font-weight : bold;
	font-size : 34pt;
	text-align : center;
	color : #FFFFFF;
	margin : 7% 0% 0% 0%;
	padding : 4% 0% 0% 0%;
}

#titleEng{
	font-weight : bold;
	font-size : 13pt;
	text-align : center;
	color : #FFFFFF;
	
}

#leftMenu{
	width : 99.9%;
	height : 50%;
}

#myRentalGps{
	font-weight : bold;
	border-bottom :1px solid #292929;
	width : 99.9%;
	height : 7%;
	margin : 3% 0% 0% 0%;
	font-size : 15pt;
	cursor : pointer;
}

#fishingRental{
	font-weight : bold;
	border-bottom : 1px solid #292929;
	width : 99.9%;
	height : 7%;
	margin : 3% 0% 0% 0%;
	font-size : 15pt;
	cursor : pointer;
}

#campingRental{
	font-weight : bold;
	border-bottom :1px solid #292929;
	width : 99.9%;
	height : 7%;
	margin : 3% 0% 0% 0%;
	font-size : 15pt;
	cursor : pointer;
}

#rightLine{
	width : 79.2%;
	height : 99.5%;
	margin : 0% 0% 0% 20.4%;
}

#job {
	margin : 0.5% 0 0 40%;
	width: 25%;
	height: 80%;
	background: url('https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png') calc(100% - 5px) center no-repeat;
	background-size: 20px;
	padding: 5px 30px 5px 10px;
	border-radius: 2px;
	outline: 0 none;
	float:left;
}
#job option {
	padding: 3px 0;
}

#search2{
	
}

#list2{
	width : 99.5%;
	height : 94%;
	margin : 3% 0% 0% 0%;
	overflow: auto;
}

#storeList{
	width : 99%;
	height : 20%;
	border-top : 1px solid #292929;
}

#srImage {
	width : 30%;
	height : 80%;
	float : left;
	margin : 2% 0% 0% 0%;
}
	
#image{
	width : 99%;
	height : 99%;
	float : left;
}

#srName{
	font-weight : bold;
	text-align : right;
	font-size : 22pt;
	padding : 0% 2% 0% 0%;
}

#srAddress{
	text-align : right;
	font-size : 17pt;
	padding : 0% 2% 0% 0%;
	margin : 1% 0% 0% 0%;
}

#srDetails{
	text-align : right;
	font-size : 13pt;
	width : 50%;
	height : 20%;
	padding : 0% 2% 0% 0%;
	margin : 1% 0% 0% 48%;
}

#srNumber{
	text-align : right;
	font-size : 13pt;
	padding : 0% 2% 0% 0%;
	margin : 1% 0% 0% 0%;
}


/*-----------------bottom----------------*/
	
#bottom1 {
	font-size:15pt;
	font-family: 'Pretendard-Regular';
	width:99.6%;
	height:13%;
	background-color:#595959;
	color:#FFFFFF;
	position:absolute; left:0.2%;
	}
	
#bottom {
    font-size:10pt;
	font-family: 'Pretendard-Regular';
	width:99.6%;
	height:5%;
	background-color:#595959;
	color:#FFFFFF;
	position:absolute; left:0.2%;
	}

.end{
	margin : 2% 0 0 0;
	
}	

/*------------------button----------------*/
#button{
	margin : 0% 0% 5% 36%;
	text-align : center;
	
}

li{
   list-style:none;
}
ul{
   list-style:none;
   padding-left:0px;
   text-align:center;
}

/*이전 버튼*/
.pageInfo_btn_prev{
   float:left;
   padding : 1% 1% 1% 1%;
   
   background-color:#FFCD36;
   
}
.pageInfo_btn_prev:hover{
   font-weight: bold;
   background-color:#CCA63D;
   color:#050099;
}

#pageInfo_btn_prev_hold{
   float:left;
   padding : 1% 1% 1% 1%;
   background-color:#FFCD36;
}
/*선택한 페이지 버튼*/
.pageInfo_btn_selected{
   float:left;
   padding : 1% 1% 1% 1%;
   background-color:#BDBDBD;
}
.pageInfo_btn_selected:hover{
   color:#050099;
}
/*페이지 버튼*/
.pageInfo_btn{
   float:left;
   padding : 1% 1% 1% 1%;
   
}
.pageInfo_btn:hover{
   background-color:#D5D5D5;
   color:#050099;
}
/*다음 버튼*/
.pageInfo_btn_next{
   float:left;
   padding : 1% 1% 1% 1%;
   
   background-color:#FFCD36;
}
.pageInfo_btn_next:hover{
font-weight: bold;
   background-color:#CCA63D;
   color:#050099;
}


