@charset "UTF-8";

@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}
/* ---------------------------------Top------------------------------------*/
#basic {
	position: absolute;
	height: 99%;
	width: 99%;
}

#top {
	font-family: 'Pretendard-Regular';
	height: 6.8%;
	background-color: #292929;
	padding:0.1%;
}

#logo {
	float:left;
	margin : 0.7%;
	width: 12%;
	height: 60%;
	color: #EAEAEA;
	font-size: 25pt;
	font-weight: bolder;
	cursor: pointer;
}

#logo:hover {
	color: #FFFFB4;
}

#search {
	margin:0.7% 0% 0.7% 42%;
	width: 28%;
	height: 60%;
	float:left;
}

#searchFont {
	border: 2px solid #FFCD36;
	font-size: 20pt;
}

#searchZoom {
	margin:0% 0% 0% 3%;
	font-size: 15pt;
	border: 0 solid black;
	background-color: white;
	color: #767F86;
}

#searchZoom.divButton {
	cursor: pointer;
}

#searchZoom.divButton:hover {
	cursor: pointer;
	font-weight: bold;
}

#box1 {
	margin:1% 0.5%;
	width: 15%;
	height: 50%;
	float:left;
}

#login1 {
	margin: 0% 5% 0% 0%;
	width: 46%;
	float: left;
	color: #ebedec;
}

#shop {
	margin: 0% 5%;
	width: 25%;
	float: left;
	color: #ebedec;
}

.top_menu {
	font-family: 'Pretendard-Regular';
	font-size: 15pt;
	cursor: pointer;
}

.top_menu:hover {
	font-family: 'Pretendard-Regular';
	font-size: 15pt;
	cursor: pointer;
	color: #FFFFB4;
}

#list {
	width: 4.4%;
	height: 4.8%;
	position: absolute;
	left: 93.5%;
	background-color: #a2a9af;
	cursor: pointer;
}

#rmcHome {
	height: 15%;
	width: 100%;
	border: 1px solid #999966;
	font-size: 15pt;
	font-weight: bold;
	background-color: #292929;
	color: white;
	border-radius: 10px;
	margin: 15% 1%;
	cursor: pointer;
}

#rmcMap {
	height: 15%;
	width: 100%;
	border: 1px solid #999966;
	font-size: 12pt;
	background-color: white;
	border-radius: 10px;
	margin: 9% 1% 1% 1%;
	cursor: pointer;
	font-weight: bold;
}

#rmcRental {
	height: 15%;
	width: 100%;
	border: 1px solid #999966;
	font-size: 12pt;
	background-color: white;
	border-radius: 10px;
	margin: 1%;
	cursor: pointer;
	font-weight: bold;
}

#rmcMyPage {
	height: 15%;
	width: 100%;
	border: 1px solid #999966;
	font-size: 12pt;
	background-color: white;
	border-radius: 10px;
	margin: 1%;
	cursor: pointer;
	font-weight: bold;
}

#rmcRtStore {
	height: 15%;
	width: 100%;
	border: 1px solid #999966;
	font-size: 12pt;
	background-color: white;
	border-radius: 10px;
	margin: 1%;
	cursor: pointer;
	font-weight: bold;
}
/*리모컨 색깔*/
#rmcHome:hover {
	background-color: #FFBB00;
}

#rmcMap:hover, #rmcRental:hover, #rmcMyPage:hover, #rmcRtStore:hover {
	background-color: #747474;
	color:white;
}

/********************************************************회원 아닐때 띄우는 modal****************************************************************/
#notMember {
	width: 20%;
	height: 18%;
	position: absolute;
	top: 20%;
	left: 40%;
	background-color: #FFFFFF;
	border: 1px solid;
}

#ring {
	background-color: #D5D5D5;
}

#question {
	margin-top: 10%;
	text-align: center;
}

#goLogIn {
	float: left;
	margin: 10% 10% 0 26%;
	width: 13%;
	background-color: #F2CB61;
	padding: 2% 2% 2% 2%;
	cursor: pointer;
	font-size: 10pt;
	text-align: center;
}

#noLogIn {
	float: left;
	margin-top: 10%;
	width: 13%;
	cursor: pointer;
	background-color: #F2CB61;
	padding: 2% 2% 2% 2%;
	font-size: 10pt;
	text-align: center;
}

#goLogIn:hover, #noLogIn:hover {
	background-color: #A6A6A6;
	color: #F2CB61;
}
/*-----------------bottom----------------*/
#bottom1 {
	padding : 1%;
	font-size: 15pt;
	font-family: 'Pretendard-Regular';
	width: 97.6%;
	height: 20%;
	background-color: #595959;
	color: #FFFFFF;
	position: absolute;
	left: 0.2%;
}

#bottom {
	font-size: 10pt;
	font-family: 'Pretendard-Regular';
	width: 99.6%;
	height: 5%;
	background-color: #595959;
	color: #FFFFFF;
	position: absolute;
	left: 0.2%;
}

.end {
	margin: 2% 0 0 0;
}